

.outerbox{
  min-height:50%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  text-align: center;
  text-transform:uppercase;
  text-indent: 5px;
  color:azure;



}
.box{
  width: 200px;
  height: 50px;
  background-color:brown;
  border: 2px solid black;
  color:black;
}

.container {
  display: flex;
}

.para1{
  background-color:azure;
  flex:0.5
}
.para2{
  background-color:azure;
  flex:0.5
}
.para3{
  background-color:azure;
  flex:0.5

}
.para4{
  background-color:azure;
  flex:0.5

}
h1{
  color:azure
}
h2{
  color:azure
}
h3{
  color:azure
}
p{
  color: azure;
}

body{
  background-image: url("./bubble.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}